%ul.nav.nav-pills
  %li{role: "presentation"}
    %a= t('account.navs.my_contacts')
  %li{role: "presentation"}
    %a= t('account.navs.my_messages')
  %li{role: "presentation"}
    %a= t('account.navs.my_profile')
